.resultadoPesquisa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px;
    cursor: pointer;
    max-width: 220px;
}

p{
    width: 200px;
    color: black;
    font-weight: 500;
}

img{
    width: 100px;
}

.resultadoPesquisa:hover {
    border: 2px solid black;
}