.opcoes {
    display: flex;
}
.opcao{
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    padding: 0 5px;
    cursor: pointer;
    min-width: 120px;
}

.opcao_icone{
    display: flex;
    height: 100%;
    padding: 0 5px;
}

.opcao_icone img{
    width: 25px;
    margin-right: 8px;
    padding: 10px;
}